# POSTTEST 4 KB
Nama : Rafly Genta Pratama

NIM : 2209106022

Kelas : Informatika A22 (A1)

### Mengimport library dan juga mendeklarasikan file csv
`codingan:`

In [67]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder

In [68]:
df = pd.read_csv('FIFA 19 data.csv')
df

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,International Reputation,...,GKKicking,GKPositioning,GKReflexes,Release Clause,DOB,Height,Weight,Right Foot,Offensive Work Rate,Defensive Work Rate
0,L. Messi,31,Argentina,94,94,FC Barcelona,110500000.0,565000.0,2202,5.0,...,15.0,14.0,8.0,226500000.0,1987-06-24,170,72,False,Medium,Medium
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,405000.0,2228,5.0,...,15.0,14.0,11.0,127100000.0,1985-02-05,187,83,True,High,Low
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000.0,290000.0,2143,5.0,...,15.0,15.0,11.0,228100000.0,1992-02-05,175,68,True,High,Medium
3,De Gea,27,Spain,91,93,Manchester United,72000000.0,260000.0,1471,4.0,...,87.0,88.0,94.0,138600000.0,1990-11-07,193,76,True,Medium,Medium
4,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000.0,355000.0,2281,4.0,...,5.0,10.0,13.0,196400000.0,1991-06-28,181,70,True,High,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17214,S. Griffin,18,Republic of Ireland,47,67,Waterford FC,60000.0,1000.0,1325,1.0,...,12.0,7.0,13.0,153000.0,1999-12-31,173,64,True,Medium,Medium
17215,K. Fujikawa,19,Japan,47,61,JÃºbilo Iwata,60000.0,1000.0,1333,1.0,...,6.0,11.0,8.0,113000.0,1998-07-24,171,66,True,Medium,Medium
17216,J. Young,18,Scotland,47,62,Swindon Town,60000.0,1000.0,1203,1.0,...,12.0,12.0,11.0,143000.0,1999-07-31,175,71,False,Medium,Medium
17217,J. Lundstram,19,England,47,65,Crewe Alexandra,60000.0,1000.0,1307,1.0,...,7.0,8.0,9.0,143000.0,1999-02-19,176,61,True,Medium,Medium
17218,B. Worman,16,England,47,67,Cambridge United,60000.0,1000.0,1189,1.0,...,10.0,6.0,13.0,165000.0,2001-08-30,172,67,True,Medium,Medium

### Bagi dataset menjadi training set dan testing set dengan proporsi 70:30
`codingan:`

In [69]:
X = df.drop('Overall', axis=1) # variabel independen 
y = df['Overall'] # variabel dependen 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) # membagi data secara acak

### Normalisasi data pada salah satu attribute menggunakan Min Max scaler 
`codingan:`

In [70]:
df_norm = df.copy() # membuat salinan dataset 
scaler = MinMaxScaler() # membuat objek scaler 
df_norm['Age'] = scaler.fit_transform(df_norm[['Age']]) # melakukan normalisasi pada kolom Age

### Standarisasi pada dataset 
`codingan:`

In [71]:
df_std = df.copy() # membuat salinan dataset 
scaler = StandardScaler() # membuat objek scaler 
df_std = scaler.fit_transform(df_std[['Value', 'Wage']])# melakukan standarisasi

### Data cleaning pada nilai null dan mengganti nilai null sesuai keinginan
`codingan:`

In [72]:
df_clean = df.copy() # membuat salinan dataset 
df_clean.isnull().sum() # mengecek jumlah nilai null pada setiap kolom

Name                   0
Age                    0
Nationality            0
Overall                0
Potential              0
                      ..
Height                 0
Weight                 0
Right Foot             0
Offensive Work Rate    0
Defensive Work Rate    0
Length: 82, dtype: int64

### Dikarenakan tidak ada nilai null maka kita menambakan nilai null secara acak
`codingan:`

In [73]:
np.random.seed(42) # menetapkan seed untuk reproduksi hasil 
df_clean.iloc[np.random.randint(0, len(df_clean), 10), np.random.randint(0, len(df_clean.columns), 10)] = np.nan # mengisi 10 nilai acak dengan null 
df_clean.isnull().sum() # mengecek kembali jumlah nilai null pada setiap kolom

Name                    0
Age                    10
Nationality            10
Overall                 0
Potential               0
                       ..
Height                  0
Weight                  0
Right Foot              0
Offensive Work Rate     0
Defensive Work Rate     0
Length: 82, dtype: int64

### Mengganti nilai null sesuai ketentuan
`codingan:`

In [74]:
df_clean['Age'].fillna(df_clean['Age'].median(), inplace=True) # mengganti nilai null pada kolom Age dengan median 
df_clean['Nationality'].fillna(df_clean['Nationality'].mode()[0], inplace=True) # mengganti nilai null pada kolom Nationality dengan modus

### Data cleaning pada nilai duplikat
`codingan:`

In [75]:
df_dup = df.copy() # membuat salinan dataset 
df_dup.duplicated().sum() # mengecek jumlah baris yang duplikat

0

### Dikarenakan tidak ada nilai duplikat maka kita menambahkan nilai duplikat sendiri
`codingan:`

In [76]:
df_dup.iloc[5,:] = df.iloc[10,:] # membuat data duplikat
df_dup.duplicated().sum() # mengecek jumlah baris yang duplikat

1

### Menghapus nilai duplikat
`codingan:`

In [77]:
df_dup.drop_duplicates(inplace=True) # menghapus baris yang duplikat
df_dup.duplicated().sum() # mengecek jumlah baris yang duplikat

0

### Mengganti tipe salah satu tipe angka
`codingan:`

In [78]:
df_type = df.copy() # membuat salinan dataset 
df_type.info() # menampilkan informasi tipe data setiap kolom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17219 entries, 0 to 17218
Data columns (total 82 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      17219 non-null  object
 1   Age                       17219 non-null  int64
 2   Nationality               17219 non-null  object
 3   Overall                   17219 non-null  int64
 4   Potential                 17219 non-null  int64
 5   Club                      17219 non-null  object
 6   Value                     17219 non-null  float64
 7   Wage                      17219 non-null  float64
 8   Special                   17219 non-null  int64
 9   International Reputation  17219 non-null  float64
 10  Weak Foot                 17219 non-null  float64
 11  Skill Moves               17219 non-null  float64
 12  Body Type                 17219 non-null  object
 13  Position                  17219 non-null  object
 14  Jersey Number             17219 non-null  float64
 15  LS                        17219 non-null  int64
 16  ST                        17219 non-null  int64
 17  RS                        17219 non-null  int64
 18  LW                        17219 non-null  int64
 19  LF                        17219 non-null  int64
 20  CF                        17219 non-null  int64
 21  RF                        17219 non-null  int64
 22  RW                        17219 non-null  int64
 23  LAM                       17219 non-null  int64
 24  CAM                       17219 non-null  int64
 25  RAM                       17219 non-null  int64
 26  LM                        17219 non-null  int64
 27  LCM                       17219 non-null  int64
 28  CM                        17219 non-null  int64
 29  RCM                       17219 non-null  int64
 30  RM                        17219 non-null  int64
 31  LWB                       17219 non-null  int64
 32  LDM                       17219 non-null  int64
 33  CDM                       17219 non-null  int64
 34  RDM                       17219 non-null  int64
 35  RWB                       17219 non-null  int64
 36  LB                        17219 non-null  int64
 37  LCB                       17219 non-null  int64
 38  CB                        17219 non-null  int64
 39  RCB                       17219 non-null  int64
 40  RB                        17219 non-null  int64
 41  Crossing                  17219 non-null  float64
 42  Finishing                 17219 non-null  float64
 43  HeadingAccuracy           17219 non-null  float64
 44  ShortPassing              17219 non-null  float64
 45  Volleys                   17219 non-null  float64
 46  Dribbling                 17219 non-null  float64
 47  Curve                     17219 non-null  float64
 48  FKAccuracy                17219 non-null  float64
 49  LongPassing               17219 non-null  float64
 50  BallControl               17219 non-null  float64
 51  Acceleration              17219 non-null  float64
 52  SprintSpeed               17219 non-null  float64
 53  Agility                   17219 non-null  float64
 54  Reactions                 17219 non-null  float64
 55  Balance                   17219 non-null  float64
 56  ShotPower                 17219 non-null  float64
 57  Jumping                   17219 non-null  float64
 58  Stamina                   17219 non-null  float64
 59  Strength                  17219 non-null  float64
 60  LongShots                 17219 non-null  float64
 61  Aggression                17219 non-null  float64
 62  Interceptions             17219 non-null  float64
 63  Positioning               17219 non-null  float64
 64  Vision                    17219 non-null  float64
 65  Penalties                 17219 non-null  float64
 66  Composure                 17219 non-null  float64
 67  Marking                   17219 non-null  float64
 68  StandingTackle            17219 non-null  float64
 69  SlidingTackle             17219 non-null  float64
 70  GKDiving                  17219 non-null  float64
 71  GKHandling                17219 non-null  float64
 72  GKKicking                 17219 non-null  float64
 73  GKPositioning             17219 non-null  float64
 74  GKReflexes                17219 non-null  float64
 75  Release Clause            17219 non-null  float64
 76  DOB                       17219 non-null  object
 77  Height                    17219 non-null  int64
 78  Weight                    17219 non-null  int64
 79  Right Foot                17219 non-null  bool
 80  Offensive Work Rate       17219 non-null  object
 81  Defensive Work Rate       17219 non-null  object
dtypes: bool(1), float64(41), int64(32), object(8)
memory usage: 10.7+ MB

### Mengganti tipe data pada atribut Age menjadi float
`codingan:`

In [79]:
df_type['Age'] = df_type['Age'].astype(float) # mengganti tipe data kolom Age 
df_type.info() # menampilkan kembali informasi tipe data setiap kolom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17219 entries, 0 to 17218
Data columns (total 82 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      17219 non-null  object
 1   Age                       17219 non-null  float64
 2   Nationality               17219 non-null  object
 3   Overall                   17219 non-null  int64
 4   Potential                 17219 non-null  int64
 5   Club                      17219 non-null  object
 6   Value                     17219 non-null  float64
 7   Wage                      17219 non-null  float64
 8   Special                   17219 non-null  int64
 9   International Reputation  17219 non-null  float64
 10  Weak Foot                 17219 non-null  float64
 11  Skill Moves               17219 non-null  float64
 12  Body Type                 17219 non-null  object
 13  Position                  17219 non-null  object
 14  Jersey Number             17219 non-null  float64
 15  LS                        17219 non-null  int64
 16  ST                        17219 non-null  int64
 17  RS                        17219 non-null  int64
 18  LW                        17219 non-null  int64
 19  LF                        17219 non-null  int64
 20  CF                        17219 non-null  int64
 21  RF                        17219 non-null  int64
 22  RW                        17219 non-null  int64
 23  LAM                       17219 non-null  int64
 24  CAM                       17219 non-null  int64
 25  RAM                       17219 non-null  int64
 26  LM                        17219 non-null  int64
 27  LCM                       17219 non-null  int64
 28  CM                        17219 non-null  int64
 29  RCM                       17219 non-null  int64
 30  RM                        17219 non-null  int64
 31  LWB                       17219 non-null  int64
 32  LDM                       17219 non-null  int64
 33  CDM                       17219 non-null  int64
 34  RDM                       17219 non-null  int64
 35  RWB                       17219 non-null  int64
 36  LB                        17219 non-null  int64
 37  LCB                       17219 non-null  int64
 38  CB                        17219 non-null  int64
 39  RCB                       17219 non-null  int64
 40  RB                        17219 non-null  int64
 41  Crossing                  17219 non-null  float64
 42  Finishing                 17219 non-null  float64
 43  HeadingAccuracy           17219 non-null  float64
 44  ShortPassing              17219 non-null  float64
 45  Volleys                   17219 non-null  float64
 46  Dribbling                 17219 non-null  float64
 47  Curve                     17219 non-null  float64
 48  FKAccuracy                17219 non-null  float64
 49  LongPassing               17219 non-null  float64
 50  BallControl               17219 non-null  float64
 51  Acceleration              17219 non-null  float64
 52  SprintSpeed               17219 non-null  float64
 53  Agility                   17219 non-null  float64
 54  Reactions                 17219 non-null  float64
 55  Balance                   17219 non-null  float64
 56  ShotPower                 17219 non-null  float64
 57  Jumping                   17219 non-null  float64
 58  Stamina                   17219 non-null  float64
 59  Strength                  17219 non-null  float64
 60  LongShots                 17219 non-null  float64
 61  Aggression                17219 non-null  float64
 62  Interceptions             17219 non-null  float64
 63  Positioning               17219 non-null  float64
 64  Vision                    17219 non-null  float64
 65  Penalties                 17219 non-null  float64
 66  Composure                 17219 non-null  float64
 67  Marking                   17219 non-null  float64
 68  StandingTackle            17219 non-null  float64
 69  SlidingTackle             17219 non-null  float64
 70  GKDiving                  17219 non-null  float64
 71  GKHandling                17219 non-null  float64
 72  GKKicking                 17219 non-null  float64
 73  GKPositioning             17219 non-null  float64
 74  GKReflexes                17219 non-null  float64
 75  Release Clause            17219 non-null  float64
 76  DOB                       17219 non-null  object
 77  Height                    17219 non-null  int64
 78  Weight                    17219 non-null  int64
 79  Right Foot                17219 non-null  bool
 80  Offensive Work Rate       17219 non-null  object
 81  Defensive Work Rate       17219 non-null  object
dtypes: bool(1), float64(42), int64(31), object(8)
memory usage: 10.7+ MB

### Onehot Encoding
`codingan:`

In [80]:
df_ohe = df.copy() # membuat salinan dataset 
ohe = OneHotEncoder(sparse=False) # membuat objek encoder 
df_ohe = pd.get_dummies(df_ohe, columns=['Nationality', 'Club']) # melakukan one hot encoding pada kolom Nationality dan Club 
df_ohe.head() # menampilkan lima baris pertama dari dataset yang sudah di-encode

,Name,Age,Overall,Potential,Value,Wage,Special,International Reputation,Weak Foot,Skill Moves,...,Club_Wolverhampton Wanderers,Club_Wycombe Wanderers,Club_Yeni Malatyaspor,Club_Yeovil Town,Club_Yokohama F. Marinos,Club_ZagÅÄbie Lubin,Club_ZagÅÄbie Sosnowiec,Club_Ãaykur Rizespor,Club_Ãrebro SK,Club_Ãstersunds FK
0,L. Messi,31,94,94,110500000.0,565000.0,2202,5.0,4.0,4.0,...,False,False,False,False,False,False,False,False,False,False
1,Cristiano Ronaldo,33,94,94,77000000.0,405000.0,2228,5.0,4.0,5.0,...,False,False,False,False,False,False,False,False,False,False
2,Neymar Jr,26,92,93,118500000.0,290000.0,2143,5.0,5.0,5.0,...,False,False,False,False,False,False,False,False,False,False
3,De Gea,27,91,93,72000000.0,260000.0,1471,4.0,3.0,1.0,...,False,False,False,False,False,False,False,False,False,False
4,K. De Bruyne,27,91,92,102000000.0,355000.0,2281,4.0,5.0,4.0,...,False,False,False,False,False,False,False,False,False,False