# POSTTEST 2 KB
Nama : Rafly Genta Pratama

NIM : 2209106022

Kelas : Informatika A22 (A1)

### Mengimport library pandas dan juga mendeklarasikan file csv
`codingan:`

In [6]:
import pandas as pd
df = pd.read_csv("FIFA 19 data.csv")

### Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka
`codingan:`

In [7]:
df.select_dtypes('number').describe()

,Age,Overall,Potential,Value,Wage,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Height,Weight
count,17219.000000,17219.000000,17219.000000,1.721900e+04,17219.000000,17219.000000,17219.000000,17219.000000,17219.000000,17219.000000,...,17219.000000,17219.000000,17219.000000,17219.000000,17219.000000,17219.000000,17219.000000,1.721900e+04,17219.000000,17219.000000
mean,25.228991,66.532435,71.438643,2.515623e+06,10146.117661,1604.279285,1.118183,2.953249,2.370347,19.237412,...,47.916139,45.852779,16.668331,16.432371,16.277833,16.436262,16.760207,4.372629e+06,181.271735,75.339334
std,4.621095,6.832525,6.147280,5.728533e+06,22527.076631,272.382433,0.401855,0.661547,0.760083,15.804965,...,21.724699,21.371531,17.788560,16.997475,16.584523,17.148699,18.045143,1.097175e+07,6.739014,7.081730
min,16.000000,47.000000,48.000000,0.000000e+00,0.000000,731.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000e+00,155.000000,50.000000
25%,22.000000,62.000000,67.000000,3.250000e+05,1000.000000,1466.000000,1.000000,3.000000,2.000000,8.000000,...,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000,4.190000e+05,176.000000,70.000000
50%,25.000000,66.000000,71.000000,7.250000e+05,3000.000000,1643.000000,1.000000,3.000000,2.000000,17.000000,...,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000,1.100000e+06,181.000000,75.000000
75%,28.000000,71.000000,75.000000,2.200000e+06,9000.000000,1792.000000,1.000000,3.000000,3.000000,26.000000,...,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000,3.200000e+06,186.000000,80.000000
max,45.000000,94.000000,95.000000,1.185000e+08,565000.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,...,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000,2.281000e+08,205.000000,110.000000

### Menampilkan 10 record pertama dari dataset dengan attribute bertipe angka
`codingan:`

In [8]:
df.select_dtypes('number').head(10)

,Age,Overall,Potential,Value,Wage,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Height,Weight
0,31,94,94,110500000.0,565000.0,2202,5.0,4.0,4.0,10.0,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500000.0,170,72
1,33,94,94,77000000.0,405000.0,2228,5.0,4.0,5.0,7.0,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100000.0,187,83
2,26,92,93,118500000.0,290000.0,2143,5.0,5.0,5.0,10.0,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100000.0,175,68
3,27,91,93,72000000.0,260000.0,1471,4.0,3.0,1.0,1.0,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600000.0,193,76
4,27,91,92,102000000.0,355000.0,2281,4.0,5.0,4.0,7.0,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400000.0,181,70
5,27,91,91,93000000.0,340000.0,2142,4.0,4.0,4.0,10.0,...,27.0,22.0,11.0,12.0,6.0,8.0,8.0,172100000.0,173,74
6,32,91,91,67000000.0,420000.0,2280,4.0,4.0,4.0,10.0,...,76.0,73.0,13.0,9.0,7.0,14.0,9.0,137400000.0,172,66
7,31,91,91,80000000.0,455000.0,2346,5.0,4.0,3.0,9.0,...,45.0,38.0,27.0,25.0,31.0,33.0,37.0,164000000.0,182,86
8,32,91,91,51000000.0,380000.0,2201,4.0,3.0,3.0,15.0,...,92.0,91.0,11.0,8.0,9.0,7.0,11.0,104600000.0,184,82
9,25,90,93,68000000.0,94000.0,1331,3.0,3.0,1.0,1.0,...,12.0,18.0,86.0,92.0,78.0,88.0,89.0,144500000.0,188,87

### Menampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka.
`codingan:`

In [5]:
# Mendapatkan informasi yang diminta
jumlah_record = len(df)
jumlah_attribute = len(df.columns)
nama_attribute = df.columns.tolist()
jumlah_attribute_angka = len(df.select_dtypes(include=['number']).columns)

# Membuat dictionary dengan informasi yang diinginkan
informasi = {
    'Jumlah Record': jumlah_record,
    'Jumlah Atribut': jumlah_attribute,
    'Nama Atribut': nama_attribute,
    'Jumlah Atribut dengan Tipe Angka': jumlah_attribute_angka
}

# Menampilkan isi dictionary
for key, value in informasi.items():
    print(f'{key}: {value}')

Jumlah Record: 17219
Jumlah Atribut: 82
Nama Atribut: ['Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club', 'Value', 'Wage', 'Special', 'International Reputation', 'Weak Foot', 'Skill Moves', 'Body Type', 'Position', 'Jersey Number', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause', 'DOB', 'Height', 'Weight', 'Right Foot', 'Offensive Work Rate', 'Defensive Work Rate']
Jumlah Atribut dengan Tipe Angka: 73

### Menampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir (022) hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.
`codingan:`

In [7]:
df.iloc[21:, 3:]

,Overall,Potential,Club,Value,Wage,Special,International Reputation,Weak Foot,Skill Moves,Body Type,...,GKKicking,GKPositioning,GKReflexes,Release Clause,DOB,Height,Weight,Right Foot,Offensive Work Rate,Defensive Work Rate
21,89,89,Paris Saint-Germain,60000000.0,200000.0,2161,4.0,4.0,3.0,Lean,...,13.0,13.0,10.0,111000000.0,1987-02-14,185,77,True,High,High
22,89,89,FC Bayern MÃ¼nchen,38000000.0,130000.0,1473,5.0,4.0,1.0,Normal,...,91.0,87.0,87.0,62700000.0,1986-03-27,193,92,True,Medium,Medium
23,89,89,Manchester City,64500000.0,300000.0,2107,4.0,4.0,4.0,Stocky,...,6.0,11.0,14.0,119300000.0,1988-06-02,173,70,True,High,Medium
24,89,89,Juventus,27000000.0,215000.0,1841,4.0,3.0,2.0,Normal,...,2.0,4.0,3.0,44600000.0,1984-08-14,187,85,False,Medium,High
25,88,95,Paris Saint-Germain,81000000.0,100000.0,2118,3.0,4.0,5.0,Lean,...,7.0,11.0,6.0,166100000.0,1998-12-20,178,73,True,High,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17214,47,67,Waterford FC,60000.0,1000.0,1325,1.0,3.0,2.0,Normal,...,12.0,7.0,13.0,153000.0,1999-12-31,173,64,True,Medium,Medium
17215,47,61,JÃºbilo Iwata,60000.0,1000.0,1333,1.0,3.0,2.0,Lean,...,6.0,11.0,8.0,113000.0,1998-07-24,171,66,True,Medium,Medium
17216,47,62,Swindon Town,60000.0,1000.0,1203,1.0,2.0,2.0,Lean,...,12.0,12.0,11.0,143000.0,1999-07-31,175,71,False,Medium,Medium
17217,47,65,Crewe Alexandra,60000.0,1000.0,1307,1.0,2.0,2.0,Lean,...,7.0,8.0,9.0,143000.0,1999-02-19,176,61,True,Medium,Medium
17218,47,67,Cambridge United,60000.0,1000.0,1189,1.0,3.0,2.0,Normal,...,10.0,6.0,13.0,165000.0,2001-08-30,172,67,True,Medium,Medium

`codingan:`

In [20]:
df.loc[21:, df.columns[3]:]

,Overall,Potential,Club,Value,Wage,Special,International Reputation,Weak Foot,Skill Moves,Body Type,...,GKKicking,GKPositioning,GKReflexes,Release Clause,DOB,Height,Weight,Right Foot,Offensive Work Rate,Defensive Work Rate
21,89,89,Paris Saint-Germain,60000000.0,200000.0,2161,4.0,4.0,3.0,Lean,...,13.0,13.0,10.0,111000000.0,1987-02-14,185,77,True,High,High
22,89,89,FC Bayern MÃ¼nchen,38000000.0,130000.0,1473,5.0,4.0,1.0,Normal,...,91.0,87.0,87.0,62700000.0,1986-03-27,193,92,True,Medium,Medium
23,89,89,Manchester City,64500000.0,300000.0,2107,4.0,4.0,4.0,Stocky,...,6.0,11.0,14.0,119300000.0,1988-06-02,173,70,True,High,Medium
24,89,89,Juventus,27000000.0,215000.0,1841,4.0,3.0,2.0,Normal,...,2.0,4.0,3.0,44600000.0,1984-08-14,187,85,False,Medium,High
25,88,95,Paris Saint-Germain,81000000.0,100000.0,2118,3.0,4.0,5.0,Lean,...,7.0,11.0,6.0,166100000.0,1998-12-20,178,73,True,High,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17214,47,67,Waterford FC,60000.0,1000.0,1325,1.0,3.0,2.0,Normal,...,12.0,7.0,13.0,153000.0,1999-12-31,173,64,True,Medium,Medium
17215,47,61,JÃºbilo Iwata,60000.0,1000.0,1333,1.0,3.0,2.0,Lean,...,6.0,11.0,8.0,113000.0,1998-07-24,171,66,True,Medium,Medium
17216,47,62,Swindon Town,60000.0,1000.0,1203,1.0,2.0,2.0,Lean,...,12.0,12.0,11.0,143000.0,1999-07-31,175,71,False,Medium,Medium
17217,47,65,Crewe Alexandra,60000.0,1000.0,1307,1.0,2.0,2.0,Lean,...,7.0,8.0,9.0,143000.0,1999-02-19,176,61,True,Medium,Medium
17218,47,67,Cambridge United,60000.0,1000.0,1189,1.0,3.0,2.0,Normal,...,10.0,6.0,13.0,165000.0,2001-08-30,172,67,True,Medium,Medium

### Menampilkan jumlah nilai dari semua attribute yang bernilai object
`codingan:`

In [16]:
df.select_dtypes(include=['object']).drop(columns='DOB').count().sum()

120533